@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Lê Vinh Huy</h3>

<address>
    Chương trình học lập trình ASPNET
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:levinhhuy113@gmail.com">levinhhuy113@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:levinhhuy113@gmail.com">0393927062</a>
</address>